<footer class="bg-light text-dark fixed-bottom">
    <div class="row container">
        <div class="col-lg-4">
            <div class="control-head">
                <h5>General</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none text-dark">About us</a></li>
                    <li><a href="#" class="text-decoration-none text-dark">Facts</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="control-head">
                <h5>Help</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none text-dark">Support</a></li>
                    <li><a href="#" class="text-decoration-none text-dark">Contact us</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="control-head">
                <h5>Policies</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none text-dark">Terms and Conditions</a></li>
                    <li><a href="#" class="text-decoration-none text-dark">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>